Repository geekjuice/fresh: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier -l

1.1.0
  package-lock.json
  package.json
Due: prettier -l

update dependencies
  .eslintignore
  .eslintrc.json
  .gitignore
  .lintstagedrc.json
  .prettierignore
  .prettierrc.json
  index.js
  jest.config.js
  makefile
  package-lock.json
  package.json
  tsconfig.json
Due: eslint, prettier -l

convert to typescript
  index.js
  src/__tests__/outdated.spec.js
  src/__tests__/outdated.test.ts
  src/__tests__/precondition.spec.js
  src/__tests__/precondition.test.ts
  src/__tests__/update.spec.js
  src/__tests__/update.test.ts
  src/cli.js
  src/cli.ts
  src/constants.js
  src/constants.ts
  src/exception.js
  src/exception.ts
  src/format.js
  src/format.ts
  src/json.js
  src/json.ts
  src/main.js
  src/main.ts
  src/outdated.js
  src/outdated.ts
  src/precondition.js
  src/precondition.ts
  src/prompt.js
  src/prompt.ts
  src/types.ts
  src/update.js
  src/update.ts
  src/utils.js
  src/utils.ts
Due: eslint, prettier -l

update deps using fresh
  package-lock.json
  package.json
Due: prettier -l

1.2.0
  package-lock.json
  package.json
Due: prettier -l

[chore] update deps
  .eslintrc.js
  .eslintrc.json
  .huskyrc.js
  .huskyrc.json
  .lintstagedrc.js
  .lintstagedrc.json
  .prettierrc.js
  .prettierrc.json
  makefile
  package-lock.json
  package.json
  src/cli.ts
  src/json.ts
  src/outdated.ts
  src/precondition.ts
Due: eslint, prettier -l

add global flag
  src/__tests__/outdated.test.ts
  src/cli.ts
  src/main.ts
  src/outdated.ts
  src/prompt.ts
  src/types.ts
Due: none

Path conditions:
  eslint: any of: *.js
  prettier -l: any of: *.{js,json,md}
